.emblem {
 width: 70px;
}

.card {
margin-top: 1%;
margin-left: 1%;
margin-bottom: 1%;
margin-right: 1%;
}

.card-body1 {
text-align: center;
}

.card-text1 {
background-color: #2E8B57;
color: white;
}

.me {
margin-top: 1%;
margin-left: 2%;
}

.ulme {
margin-top: 1%;
margin-left: 2%;
font-size: 20px;
}

.soldhead {
margin-top: 3%;
margin-left: 2%;
}

.form {
margin-top: 3%;
margin-left: 2%;
}

#btn {
text-align: center;
margin-top: 1%;
margin-left: 50%;
margin-bottom: 1%;
margin-right: 1%;
}